* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

section {
    max-width: 900px;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: center;
    margin: 0 auto;
    padding-top: 60px;
    overflow: hidden;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

header i {
    color: rgb(107, 148, 218);
    margin: 0 0.35rem;
    font-size: 1.5rem;
}

/* HERO */
#hero {
    max-width: 900px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    scroll-snap-align: center;
}
#hero div {
    height: 50%;
}
.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.hero-description img {
    height: 100%;
    border-radius: 50%;
}

#intro {
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(182, 18, 45);
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.hero-description p::after {
    content: "|";
    color: black;
}

#hero-nav {
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: -4rem;
}

#hero-nav h3 {
    margin: 0.5rem 0.5rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid rgb(211, 220, 50);
    border-radius: 0.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(85, 83, 83);
    text-align: center;
}
#hero-nav h3:hover {
    color: rgb(232, 4, 38);
}
@media only screen and (max-width: 650px) {
    .hero-description img {
        height: 8rem;
        width: 8rem;
    }
    #hero-nav {
        display: block;
        margin: -1rem;
    }
    #intro {
        font-size: 1rem;
    }
    .sm-hide {
        display: none;
    }
}

/* ABOUT */
.top-title {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: rgb(232, 4, 38);
    text-decoration: underline;
    text-shadow: 1px 1px 0 rgb(156 163 175);
    letter-spacing: 4px;
}
#about div h1 {
    display: inline;
    letter-spacing: 3px;
    font-size: 1.75rem;
    background-color: palevioletred;
    background-image: linear-gradient(
        to right,
        palevioletred,
        rgb(255, 217, 0)
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 1rem;
}

.about-para p {
    margin-top: 1rem;
    color: rgb(55 65 81);
    line-height: 1.5;
    font-size: 1.25rem;
}
.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-image img {
    height: 12rem;
    width: 12rem;
    border-radius: 5px;
}

@media only screen and (max-width: 650px) {
    .about-me,
    #about div h1 {
        font-size: 1.25rem;
    }
    .about-image img {
        height: 8rem;
        width: 8rem;
    }
    .about-grid {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .about-grid p {
        font-size: 1.25rem;
        line-height: 1;
    }
}

/* SKILLS */

/* Expirence */
.card {
    height: 90%;
    width: 70%;
    max-width: 600px;
    border: 2px solid black;
    margin: 0 auto;
}

/* RESPONSIVE */
@media only screen and (min-width: 900px) {
    /* header */
    header {
        margin: 0 auto;
        padding: 1rem 0;
        top: 0;
    }
    header i {
        margin: 0 0.75rem;
        font-size: 2rem;
    }
}

/* ANIMATION */

/* header */
header nav {
    animation: fromleft 1s ease-in-out 0s 1;
}

header div {
    animation: fromright 1s ease-in-out 0s 1;
}

@keyframes fromleft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fromright {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes show-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll-animation {
    animation: show-bg 700ms ease-in-out 0s 1;
}
