* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

main {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

section {
    max-width: 900px;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: center;
    margin: 0 auto;
    padding-top: 60px;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

header i {
    color: rgb(156 163 175);
    margin: 0 0.35rem;
    font-size: 1.5rem;
}

/* HERO */
#hero {
    max-width: 900px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    animation: show-bg 1s ease-in-out 0s 1;
    scroll-snap-align: center;
}
#hero div {
    height: 50%;
}
.hero-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
}

.hero-description img {
    height: 100%;
    border-radius: 50%;
}

#intro {
    font-weight: 600;
    font-size: 1rem;
    color: rgb(182, 18, 45);
    letter-spacing: 0.1rem;
}

#hero-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#hero-nav h3 {
    margin: 0.5rem 0.5rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid rgb(211, 220, 50);
    border-radius: 0.5rem;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(85, 83, 83);
}
#hero-nav h3:hover {
    color: rgb(232, 4, 38);
}

/* RESPONSIVE */
@media only screen and (min-width: 900px) {
    /* header */
    header {
        margin: 0 auto;
        padding: 1rem 0;
        top: 0;
    }
    header i {
        margin: 0 0.75rem;
        font-size: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .hero-description img {
        height: 8rem;
        width: 8rem;
    }
    #hero-nav {
        align-items: flex-start;
    }
}
/* ANIMATION */

/* header */
header nav {
    animation: fromleft 1s ease-in-out 0s 1;
}

header div {
    animation: fromright 1s ease-in-out 0s 1;
}

@keyframes fromleft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fromright {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes show-bg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
